Hi (instructor grading my stuff here)! I hope that you're doing well. 
I'm going to save you some time. This is currently a complete waste of time for you
and I'm going to be spending the rest of the day fixing login and registration,
redeploying it and studying. 

I don't want you coming at me with some sort of inspirational speech nonsense
or some sort of stern discipline. In fact, I haven't taken my medication in three days
so it might not be wise to come at me. That's not a threat, I just know me very well and I become unpleasant.
I know what I did wrong. I drove too far off into the weeds. There just isn't enough time to fix it at this point. I have figured out what
I don't know and I'm working toward that (session. YES I KNOW, we SHOULD KNOW THIS). I look forward to taking a completely 
different test tomorrow. It's just at this point sitting in front of my computer pretending like
I'm figuring something out isn't too productive.

Ciao,

Ryan